html,body{
    width: 100%;
    height: 100vh;
}

.App{
    width: 100%;
    font-size: 20px;
}

@media screen and (max-width:700px) {
    .App{
        font-size: 12px;
    }
    button{
        font-size:12px !important;
        padding: 0.2rem !important;
    }
    td a {
        padding:0.2rem !important;
        font-size: 12px !important
    }
    
    
  
}